<div fxLayout="column" style="width:100%;">
    <mat-toolbar color="primary">{{name}}</mat-toolbar>
    <mat-card>
        <form name="fmDynamicTable" novalidate ng-cloak>
            <div class="tableContainer" fxLayout="column">
                <!-- ============== Chips ============= -->
                <div fxLayout *ngIf="dialogFilters.length > 0" fxLayoutAlign=" center">
                  <mat-chip-list matPrefix #chipList>
                    <mat-chip *ngFor="let filter of dialogFilters" [selectable]="true"
                        [removable]="true" (remove)="updateFilter({action: 'Remove', filter: filter})"
                        (click)="showDialog(filter.property)" 
                        [ngClass]="{'chipSelected': filter.property === selectedChipProperty}" >
                            <strong>{{ filter.value }}</strong> <i>&nbsp;({{filter.label}})</i>
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                  <button mat-icon-button title="clear column filters" 
                    (click)="clearDialogFilter()" *ngIf="dialogFilters.length > 1">
                    <mat-icon class="mat-24 clearAllChips" aria-label="clearcolfilters">delete_sweep</mat-icon>
                  </button>
                </div>
                <!-- ============== Global Filter ============= -->
                <div fxLayout>
                    <mat-form-field floatPlaceholder="never" fxFlex>
                        <input matInput #filter placeholder="Search" fxFlex="98" [disabled]="dialogFilters.length > 0" ngAutofocus>
                        <button mat-icon-button title="clear search" color="warn" fxFlex
                            (click)="clearFilter()" *ngIf="filter.value.length > 0">
                            <mat-icon class="mat-24" aria-label="add">clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <!-- ============================== Table Start ============================== -->
                <mat-table #table [dataSource]="data" matSort>
                    <ng-container *ngFor="let column of columns" matColumnDef="{{column}}">
                        <!-- ============== columns ============= -->
                        <mat-header-cell *matHeaderCellDef fxLayout>
                            <!-- ============== column Filter ============= -->
                            <button mat-icon-button title="click to apply column based filter"
                                (click)="showDialog(column)" *ngIf="data">
                            <mat-icon class="mat-24" [ngClass]="{'filter': isFilterApplied(dialogFilters, column)}" aria-label="add">search</mat-icon>
                            </button>
                            <!-- ============== column header ============= -->
                            <div title="click to sort" mat-sort-header>
                                <h4> {{column}} </h4>
                            </div>
                        </mat-header-cell>
                        <!-- ============== Rows ============= -->
                        <div *ngIf="column === 'Date'; else elseBlock">
                            <mat-cell class="lPading" *matCellDef="let item"> {{ item[column] | date}} </mat-cell>
                        </div>
                        <ng-template #elseBlock>
                            <mat-cell class="lPading" *matCellDef="let item"> {{ item[column] }} </mat-cell>
                        </ng-template>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
                </mat-table>
                <!-- ============== Paginator ============= -->
                <mat-paginator #paginator 
                              [length]="db.templateData.length" 
                              [pageIndex]="0" 
                              [pageSize]="10" 
                              [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
                <!-- ============================== Table End ============================== -->
            </div>
            <section fxLayout.lt-sm="column" fxLayoutAlign="end center" fxLayoutGap="10px">
                <button mat-button color="accent" [routerLink]="['/home']">Cancel</button>
                <button mat-raised-button color="primary" type="submit" tabindex="1">Save</button>
            </section>
        </form>
    </mat-card>
</div>