<div fxLayout="column" style="width:100%;">
    <md-toolbar color="primary">{{name}}</md-toolbar>
    <md-card>
        <form name="fmDynamicTable" novalidate ng-cloak>
            <div fxLayout="column">
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
                    <h5>Rows : {{db.templateData.length}}</h5>
                    <section fxLayoutGap="10px">
                        <button md-mini-fab title="Add new row" color="primary" (click)="updateTable('add')"><md-icon class="md-24" aria-label="add">add</md-icon></button>
                        <button md-mini-fab color="white" title="Remove last row" type="submit" (click)="updateTable('remove')"><md-icon class="md-24" aria-label="remove">remove</md-icon></button>
                        <button md-mini-fab color="white" title="Reset table" type="submit" (click)="updateTable('reset')"><md-icon class="md-24" aria-label="refresh">refresh</md-icon></button>
                    </section>
                </div>
                <!-- ============================== Table Start ============================== -->
                <md-table #table [dataSource]="data">
                    <ng-container *ngFor="let column of columns" mdColumnDef="{{column}}">
                        <!-- ============== columns ============= -->
                        <md-header-cell *mdHeaderCellDef fxFlex="150px">
                            <h4> {{column}} </h4>
                        </md-header-cell>
                        <!-- ============== rows ============= -->
                        <ng-container [ngSwitch]="column">
                            <!-- Quantity -->
                            <ng-container *ngSwitchCase="'Quantity'">
                                <md-cell *mdCellDef="let item" fxFlex="150px">
                                    <md-form-field fxLayout fxFlex="70px">
                                        <input type="number" mdInput name="{{column + item.RowNum.toString()}}" placeholder="{{column}}" [(ngModel)]="item[column]">
                                    </md-form-field>
                                </md-cell>
                            </ng-container>

                            <!-- Required -->
                            <ng-container *ngSwitchCase="'Required'">
                                <md-cell *mdCellDef="let item" fxFlex="150px">
                                    <md-slide-toggle color="primary" name="{{column + item.RowNum.toString()}}" [(ngModel)]="item[column]" #Required="ngModel" 
                                        (change)="item.Justification = ''" >
                                    </md-slide-toggle>
                                </md-cell>
                            </ng-container>

                            <!-- Justification -->
                            <ng-container *ngSwitchCase="'Justification'">
                                <md-cell *mdCellDef="let item" fxFlex="150px">                                    
                                    <div fxLayout="column">                                      
                                            <md-form-field fxLayout>
                                                <textarea fxFlex="150px" mdInput name="{{column + item.RowNum.toString()}}" placeholder="{{column}}"
                                                    #Justification="ngModel" [(ngModel)]="item[column]" maxlength="128" minlength="10" rows="2"
                                                    [disabled]="!item.Required" [required]="item.Required">
                                                </textarea>
                                            </md-form-field>
                                            <div *ngIf="Justification.invalid && (Justification.dirty || Justification.touched)" class="validation">
                                                <span *ngIf="Justification.errors.required">
                                                    Name is <strong>required</strong>
                                                </span>
                                                <span *ngIf="Justification.errors.minlength">
                                                    Name must be at least <strong>10</strong> characters long
                                                </span>                                            
                                            </div>
                                        </div>
                                </md-cell>
                            </ng-container>

                            <!-- Comments -->
                            <ng-container *ngSwitchCase="'Comments'">
                                <md-cell *mdCellDef="let item" fxFlex="150px">
                                    <md-form-field fxLayout>
                                        <textarea fxFlex="150px" mdInput name="{{column + item.RowNum.toString()}}" #Comments id="{{Comments + item.RowNum}}" placeholder="{{column}}"
                                            [(ngModel)]="item[column]" maxlength="128" rows="2"></textarea>
                                        <md-hint align="end">{{Comments.value.length}} / 128</md-hint>
                                    </md-form-field>
                                </md-cell>
                            </ng-container>

                            <!-- Date -->
                            <ng-container *ngSwitchCase="'Date'">
                                <md-cell *mdCellDef="let item" fxFlex="150px">
                                    <md-form-field fxLayout>
                                        <input fxFlex="100px" name="{{column + item.RowNum.toString()}}" mdInput [mdDatepicker]="datepicker" placeholder="{{column}}"
                                            [(ngModel)]="item[column]">
                                        <md-datepicker-toggle mdSuffix [for]="datepicker"></md-datepicker-toggle>
                                        <md-datepicker #datepicker></md-datepicker>
                                    </md-form-field>
                                </md-cell>
                            </ng-container>

                            <!-- Dialog input -->
                            <ng-container *ngSwitchCase="'DialogInput'">
                                <md-cell *mdCellDef="let item" fxFlex="150px">
                                    <div fxLayout fxLayoutAlign="space-between center">
                                        <span>
                                        <u>Option 1</u>: {{item.DialogOptions.Option1}}
                                        <br>
                                        <u>Quantity</u>: {{item.DialogOptions.OptionQuantity}}
                                        <br>
                                        <u>Option 2</u>: {{item.DialogOptions.Option2}}                                        
                                        </span>
                                        <button *ngIf="item[column]" md-icon-button title="dialog content" color="primary" (click)="showDialog(item)">
                                            <md-icon class="md-24" aria-label="menu">menu</md-icon>
                                        </button>
                                    </div>
                                </md-cell>
                            </ng-container>

                            <!-- RowNum -->
                            <ng-container *ngSwitchDefault>
                                <md-cell *mdCellDef="let item" fxFlex="150px"> {{item[column]}} </md-cell>
                            </ng-container>
                        </ng-container>

                    </ng-container>
                    <md-header-row *mdHeaderRowDef="columns"></md-header-row>
                    <md-row *mdRowDef="let row; columns: columns;"></md-row>
                </md-table>
                <!-- ============================== Table End ============================== -->
            </div>

            <section fxLayout.lt-sm="column" fxLayoutAlign="end center" fxLayoutGap="10px">
                <button md-button color="accent" [routerLink]="['/home']" ngAutofocus>Cancel</button>
                <button md-raised-button color="primary" type="submit">Save</button>
            </section>
        </form>
    </md-card>
</div>