<mat-grid-list cols="1" style="height:100%;" rowHeight="fit">
  <mat-grid-tile [colspan]="1">
    <div fxFlexFill fxLayout="column">
      <!-- header -->
      <div fxFlex="70px" fxLayout class="header mat-elevation-z5">
        <!-- menu list -->
        <button mat-icon-button [matMenuTriggerFor]="menu" title="click here to open navigation menu" mat-mini-fab class="sideNavToggle"
          color="primary" *ngIf="showFab">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menulist">
          <button *ngFor="let item of listItem" mat-menu-item [routerLink]="[item.value]" routerLinkActive="active">
            <mat-icon *ngIf="item.text==='Home'">home</mat-icon>
            <mat-icon *ngIf="item.text!=='Home'">dialpad</mat-icon>
            <span>  {{item.text}} </span>
          </button>
        </mat-menu>
        <!-- menu list -->
        <div fxFlex="180px" fxLayoutAlign="center center"> LOGO </div>
          <mat-divider class="vertical-divider"></mat-divider> 
        <div fxLayoutAlign="center center" fxFlex="grow"> Application Title </div>
        <div *ngIf="login"> Welcome '{{ loginuser.firstName }}' <button (click)="logout()">Logout</button></div>
       <!--  <div *ngIf="!login"><button>Login</button></div> -->
      </div>    
      <!-- header -->  
      <mat-sidenav-container class="leftNavContainer" fxFlex="grow">
        <!-- side nav -->
        <mat-sidenav #sidenav mode="side" opened="true">
          <mat-nav-list fxFlex="grow" class="navlist">
            <ng-container *ngFor="let item of listItem">
              <mat-list-item [routerLink]="[item.value]" routerLinkActive="active">
                {{item.text}}
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-nav-list>
        </mat-sidenav>
        <!-- side nav -->

        <router-outlet style="width:100%;" (loginSuccess)="getLoginUser($event)"></router-outlet>

      </mat-sidenav-container>
      <footer fxLayoutAlign="center center" class="footer" fxFlex="40px">
        Footer
      </footer>
    </div>
  </mat-grid-tile>
</mat-grid-list>