<fieldset>
    <legend>{{data.filter.property}}: </legend>
<form #fmDialog="ngForm" [formGroup]="dialogFormGroup" (ngSubmit)="submitActions(fmDialog, data.filter)" novalidate>
      <div mat-dialog-content fxLayout="column">
        <!-- simple search field with autocomplete choices and no form control -->
        <!--  <mat-form-field>
        <input type="search" matInput placeholder="filter for: {{data.filter.property}}" 
        required (blur)="data.filter.value = data.filter.value.toString().trim()" 
          class="form-control" name="filter"
          [(ngModel)]="data.filter.value" #filter="ngModel">
      </mat-form-field>
      <div *ngIf="filter.invalid && (filter.dirty || filter.touched || fmDialog.submitted)" class="validation">
        <span *ngIf="filter.errors.required">
          Filter text is <strong>required</strong>
        </span>
      </div>  -->

      <!-- adv. search with autocomplete choices and form control based approach -->
        <mat-form-field>
          <input type="search" aria-label="filter" 
            class="form-control" [formControl]="dialogFormGroup.controls['filterControl']"  
            [matAutocomplete]="auto" [(ngModel)]="data.filter.value" 
            (blur)="data.filter.value = data.filter.value.toString().trim()" 
            matInput required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>          
        </mat-form-field>
        <div *ngIf="dialogFormGroup.controls['filterControl'].invalid && (dialogFormGroup.controls['filterControl'].dirty || dialogFormGroup.controls['filterControl'].touched || fmDialog.submitted)" 
          class="validation">
          <span *ngIf="dialogFormGroup.controls['filterControl'].hasError('required')">
            Filter text is <strong>required</strong>
          </span>
        </div> 
      </div>
      <div mat-dialog-actions>
        <button type="submit" (click)="action = 'Apply'" mat-raised-button color="primary" tabindex="1" class="z-depth-2">Apply</button>
        <button *ngIf="dialogFormGroup.controls['filterControl'].value && dialogFormGroup.controls['filterControl'].value.length > 0" (click)="action = 'Remove'" mat-button color="accent">Remove</button>
        <button mat-button color="accent" (click)="action = 'NoClick'" tabindex="-1">Cancel</button>
      </div>
    </form>
</fieldset>