<div fxLayout="column" style="width:100%;">
    <mat-toolbar color="primary">{{name}}</mat-toolbar>
    <mat-card>
        <form name="fmDynamicTable" novalidate ng-cloak>
            <div fxLayout="column">
                <div fxLayout>                    
                    <mat-select placeholder="Select Language" fxFlex="150px" 
                        name="Language" [(ngModel)]="selectedLanguage" #Language="ngModel"
                        (change)="setLang(selectedLanguage)" >
                        <mat-option *ngFor="let lang of languages" [value]="lang.code">{{ lang.text }}</mat-option>                        
                    </mat-select>
                </div>
                <br>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
                    <h5>{{ 'commonLabels.rows' | translate }} : {{db.templateData.length}}</h5>
                    <section fxLayoutGap="10px">
                        <button mat-mini-fab title="{{ 'commonLabels.add' | translate }}" color="primary" (click)="updateTable('add')"><mat-icon class="mat-24" aria-label="add">add</mat-icon></button>
                        <button mat-mini-fab color="white" title="{{ 'commonLabels.remove' | translate }}" type="submit" (click)="updateTable('remove')"><mat-icon class="mat-24" aria-label="remove">remove</mat-icon></button>
                        <button mat-mini-fab color="white" title="{{ 'commonLabels.reset' | translate }}" type="submit" (click)="updateTable('reset')"><mat-icon class="mat-24" aria-label="refresh">refresh</mat-icon></button>
                    </section>
                </div>
                <!-- ============================== Table Start ============================== -->
                <mat-table #table [dataSource]="data">
                    <ng-container *ngFor="let column of columns" matColumnDef="{{column}}">
                        <!-- ============== columns ============= -->
                        <mat-header-cell *matHeaderCellDef fxFlex="150px">                            
                            <h4> {{'commonLabels.' + column | translate}} </h4>
                        </mat-header-cell>
                        <!-- ============== rows ============= -->
                        <ng-container [ngSwitch]="column">
                            <!-- Quantity -->
                            <ng-container *ngSwitchCase="'Quantity'">
                                <mat-cell *matCellDef="let item" fxFlex="150px">
                                    <mat-form-field fxLayout fxFlex="70px">
                                        <input type="number" matInput name="{{column + item.RowNum.toString()}}" placeholder="{{'commonLabels.' + column | translate}}" [(ngModel)]="item[column]">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Required -->
                            <ng-container *ngSwitchCase="'Required'">
                                <mat-cell *matCellDef="let item" fxFlex="150px">
                                    <mat-slide-toggle color="primary" name="{{column + item.RowNum.toString()}}" [(ngModel)]="item[column]">
                                    </mat-slide-toggle>
                                </mat-cell>
                            </ng-container>

                            <!-- Justification -->
                            <ng-container *ngSwitchCase="'Justification'">
                                <mat-cell *matCellDef="let item" fxFlex="150px">                                    
                                    <div fxLayout="column">                                      
                                            <mat-form-field fxLayout>
                                                <textarea fxFlex="150px" [disabled]="!item.Required" matInput name="{{column + item.RowNum.toString()}}" placeholder="{{'commonLabels.' + column | translate}}"
                                                #Justification="ngModel" [(ngModel)]="item[column]" maxlength="128" minlength="10" rows="2" [required]="item.Required">
                                                </textarea>
                                            </mat-form-field>
                                            <div *ngIf="Justification.invalid && (Justification.dirty || Justification.touched)" class="validation">
                                                <span *ngIf="Justification.errors.required" 
                                                    [innerHTML]="'commonLabels.justificationRequired' | translate">
                                                </span>
                                                <span *ngIf="Justification.errors.minlength" 
                                                    [innerHTML]="'commonLabels.justificationMin' | translate">                                                    
                                                </span>                                            
                                            </div>
                                        </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Comments -->
                            <ng-container *ngSwitchCase="'Comments'">
                                <mat-cell *matCellDef="let item" fxFlex="150px">
                                    <mat-form-field fxLayout>
                                        <textarea fxFlex="150px" matInput name="{{column + item.RowNum.toString()}}" #Comments id="{{Comments + item.RowNum}}" placeholder="{{'commonLabels.' + column | translate}}"
                                            [(ngModel)]="item[column]" maxlength="128" rows="2"></textarea>
                                        <mat-hint align="end">{{Comments.value.length}} / 128</mat-hint>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Date -->
                            <ng-container *ngSwitchCase="'Date'">
                                <mat-cell *matCellDef="let item" fxFlex="150px">
                                    <mat-form-field fxLayout>
                                        <input fxFlex="100px" name="{{column + item.RowNum.toString()}}" matInput [matDatepicker]="datepicker" placeholder="{{'commonLabels.' + column | translate}}"
                                            [(ngModel)]="item[column]">
                                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker></mat-datepicker>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Dialog input -->
                            <ng-container *ngSwitchCase="'DialogInput'">
                                <mat-cell *matCellDef="let item" fxFlex="150px">
                                    <div fxLayout fxLayoutAlign="space-between center">
                                        <span>
                                        <u>{{'commonLabels.Option' | translate}} 1</u>: {{item.DialogOptions.Option1}}
                                        <br>
                                        <u>{{'commonLabels.Quantity' | translate}}</u>: {{item.DialogOptions.OptionQuantity}}
                                        <br>
                                        <u>{{'commonLabels.Option' | translate}} 2</u>: {{item.DialogOptions.Option2}}                                        
                                        </span>
                                        <button *ngIf="item[column]" mat-icon-button title="{{'commonLabels.dialogcontent' | translate}}" color="primary" (click)="showDialog(item)">
                                            <mat-icon class="mat-24" aria-label="menu">menu</mat-icon>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- RowNum -->
                            <ng-container *ngSwitchDefault>
                                <mat-cell *matCellDef="let item" fxFlex="150px"> {{item[column]}} </mat-cell>
                            </ng-container>
                        </ng-container>

                    </ng-container>
                    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
                </mat-table>
                <!-- ============================== Table End ============================== -->
            </div>

            <section fxLayout.lt-sm="column" fxLayoutAlign="end center" fxLayoutGap="10px">
                <button mat-button color="accent" [routerLink]="['/home']" ngAutofocus>{{'commonLabels.cancel' | translate}}</button>
                <button mat-raised-button color="primary" type="submit">{{'commonLabels.save' | translate}}</button>
            </section>
        </form>
    </mat-card>
</div>